//一行点点点
@mixin one-line($value) {
  width: $value;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//两行点点点
@mixin two-line() {
  //word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
// 蒙层
@mixin popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow: hidden;
}
